.ticket {
  width: 200px;
  height: 250px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  text-align: center;
  background-color: #dea881;
}

.ticket-header {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ticket-name {
  font-size: 32px;
}
