.main-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #355c7d;
  color: white;
  padding: 20px;
}

.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.left-sidebar {
  width: 250px;
  background-color: #212121;
  position: sticky;
  top: 0;
  height: 100%;
  overflow-y: auto;
  padding: 15px;
  padding-top: 30px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.main-content {
  flex: 1;
  background-color: #212121;
  padding: 20px;
  overflow-y: auto;
}
