.product {
  margin-top: 15px;
  width: 250px;
  height: 300px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  text-align: center;
  /* background-color: #dea881; */
  background-color: white;
}

.product-header {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* .product-name {
    font-size: 32px;
  } */
